<h1>All Recipes</h1>

<% Recipe.published.each do |recipe| %>
  <% if recipe.published %>
  <ul>

    <li>
      <% if recipe.image? %>
      <%= image_tag recipe.image.url(:medium) %>
    <% else %>
      <%= image_tag '/../../public/placeholders/placeholder.jpg' %>
    <% end %><br>
    <%= link_to recipe.name, recipe_path(recipe) %></li>
  </ul>
  <% else %>
    There are no published recipes
  <% end %>

<% end %>
