<div class="row">
    <form class="col s12" action="/search" method="post">
      <div class="row">
        <br>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input id="icon_prefix" type="text" class="validate" name="search">
          <label for="icon_prefix">Search</label>
        </div>
      </div>
    </form>
  </div>


<h1>All Recipes</h1>

<% Recipe.published.each do |recipe| %>
  <% if recipe.published %>
  <ul>

    <li>
      <% if recipe.image? %>
      <%= image_tag recipe.image.url(:medium) %>
    <% else %>
    <div class="boxed">
      <img src= "<%= asset_path( 'RecipeImageDefault.png' )%>" alt="Photograph of a chocolate cupcake." style="width:75px;height:75px;">
    </div>
    <% end %><br>
    <%= link_to recipe.name, recipe_path(recipe) %></li>
  </ul>
  <% else %>
    There are no published recipes
  <% end %>

<% end %>
