<h1>All Collectors</h1>

<ul>
  <% User.all.each do |user| %>
    <% if user.user_type == "collector" %>
      <li>
        <%= link_to user.name, user_path(user)%>
      </li>
      <%end%>
  <% end %>
</ul>
