<h1>All Galleries</h1>

<ul>
  <% User.all.each do |user| %>
    <% if user.user_type == "gallery" %>
      <li>
        <%= link_to user.name, user_path(user)%>
      </li>
      <% end %>
    <% end %>
</ul>
